.corona-home{background-color:#971822;background-size:cover;background-repeat:no-repeat}.corona-home header{background:#fff;margin:0 -15px !important}.corona-home header h1{background-size:contain;background-repeat:no-repeat;height:70px;width:300px}.corona-home .intro{max-width:675px}.corona-home .boxes{max-width:1200px}.corona-home .boxes img{max-height:100px}.corona-home a{color:#fff}/*# sourceMappingURL=corona-front-page.css.map */
