#page-footer{background-color:#393939;color:#fff}#page-footer a{color:#fff}#page-footer h1{margin-bottom:30px;padding:1.5em 0 1em;text-transform:uppercase}#page-footer h2{padding:.5em 0;text-transform:uppercase}#page-footer h3{text-transform:uppercase}#page-footer .col-md-4{padding-bottom:4em}#page-footer .copyright{font-size:12px}/*# sourceMappingURL=footer.css.map */
