body.page h1{background-color:#393939;color:#fff;font-weight:bold;margin:50px 0;padding:5px 8px;text-transform:uppercase}body.page h1.single-title{margin-top:0}body.page p{margin:30px 0}body.page p img{max-width:100%;height:auto}body.page p img.alignleft{float:left;margin:.5rem 1rem}body.page p img.alignright{float:right;margin:.5rem 1rem}body.page p img.aligncenter{display:block;margin:1rem auto}body.page main{margin-bottom:70px}/*# sourceMappingURL=page.css.map */
