@import "colors.scss";

.calendar-list {
    margin-bottom: 70px;

    h1 {
        background-color: $dark-grey;
        color: $white;
        font-weight: bold;
        margin: 30px 0;
        padding: 5px 8px;
        text-transform: uppercase;
    }

    .current-month h2 {
        color: $light-grey;
        font-size: 50px;
        font-weight: bold;
        margin: 30px 0;
        text-transform: uppercase;
    }

    h3 {
        a {
            color: $dark-grey;
        }
    }

    .tribe-events-list {
        .row.type-tribe_events {
            padding: 2.25em 0 !important;
        }
    }

    .date {
        span {
            display: block;
        }

        .day {
            font-size: 40px;
            font-weight: bold;
        }

        .month {
            font-weight: bold;
        }
    }

    .banner {
        margin-bottom: 70px;
    }
}

.single {
    .calendar-list {
        p {
            img {
                max-width: 100%;
                height: auto;

                &.alignleft {
                    float: left;
                    margin: 0.5rem 1rem;
                }

                &.alignright {
                    float: right;
                    margin: 0.5rem 1rem;
                }

                &.aligncenter {
                    display: block;
                    margin: 1rem auto;
                }
            }
        }
    }
}
