@import "colors.scss";

#page-footer {
    background-color: $dark-grey;
    color: $white;

    a {
        color: $white;
    }

    h1 {
        margin-bottom: 30px;
        padding: 1.5em 0 1em;
        text-transform: uppercase;
    }

    h2 {
        padding: 0.5em 0;
        text-transform: uppercase;
    }

    h3 {
        text-transform: uppercase;
    }

    .col-md-4 {
        padding-bottom: 4em;
    }

    .copyright {
        font-size: 12px;
    }
}
