@import "colors.scss";

body.home {
    .read-more {
        background-color: $dark-grey;
        color: $background-light-grey;
        font-weight: bold;
        padding: 5px 8px;
        text-transform: uppercase;
    }

    .top-banner {
        color: $white;
        padding: 150px 0;

        h1 {
            background-color: $white;
            color: $dark-grey;
            font-weight: bold;
            margin: 50px 0;
            padding: 5px 20px;
            text-transform: uppercase;
        }

        p {
            margin: 30px 0;
        }

        .social-media-links {
            a {
                margin: 0 8px;
            }

            img {
                width: 50px;
            }
        }
    }

    .about-us {
        background: $background-light-grey;
        padding: 70px 0;

        h1 {
            background-color: $dark-grey;
            color: $background-light-grey;
            font-weight: bold;
            padding: 5px 8px;
            text-transform: uppercase;
        }

        h1 {
            font-size: 30px;
        }

        blockquote,
        p {
            margin: 30px 0;
        }

        blockquote {
            font-style: italic;
        }

        .embed-responsive {
            padding-top: 70px;
        }
    }

    .upcoming {
        padding: 50px 0;

        a {
            color: $dark-grey;
        }

        h1 {
            background-color: $dark-grey;
            color: $white;
            font-weight: bold;
            padding: 5px 8px;
            text-transform: uppercase;
        }

        .header {
            margin: 30px 0;

            p {
                font-size: 26px;
                font-weight: bold;
                margin: 15px 0;
                text-transform: uppercase;
            }
        }

        .item {
            h2 {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 0;
                text-transform: uppercase;
            }

            p {
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }

    .calendar {
        background: $background-light-grey;

        strong {
            a {
                color: $dark-grey;
            }
        }

        .date {
            text-transform: lowercase;
        }

        .calendar-image {
            background: url('../images/front-page/calendar.jpg') center/cover no-repeat;
        }

        .information {
            padding: 30px;

            h1 {
                background-color: $dark-grey;
                color: $background-light-grey;
                font-weight: bold;
                margin: 30px 0 15px;
                padding: 5px 8px;
                text-transform: uppercase;
            }

            p:last-child {
                margin-top: 70px;
            }
        }
    }

    .play {
        background: $background-dark-red;
        color: $white;
        font-size: 20px;
        padding: 30px 0;

        a {
            color: $white;
        }

        h1 {
            background-color: $white;
            color: $background-dark-red;
            font-weight: bold;
            margin: 30px 0 15px;
            padding: 5px 8px;
        }

        p {
            margin: 30px 0;
        }
    }
}
