@import "colors.scss";
@import "main-menu.scss";
@import "hamburger-menu.scss";
@import "footer.scss";

// Maybe only load page specific styles when viewing matching page?
@import "front-page.scss";
@import "page.scss";

// todo More styling that maybe shouldn't be loaded all the time.
@import "calendar.scss";

.container-fluid {
    & > header {
        margin: 20px 0;
    }
}
