@import "colors.scss";

.hamburger-menu-toggle {
    & > img {
        height: 32px;
    }

    cursor: pointer;
}

nav.hamburger-menu {
    background: $dark-grey;
    display: none;
    padding: 30px;

    ul {
        margin: 0;
        list-style-type: none;

        li {
            display: block;
            padding: 5px 0;
            text-transform: uppercase;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            a {
                color: $white;
            }

            .sub-menu {
                padding: 10px 0 10px 30px;
            }
        }
    }
}
