@import "colors.scss";

body {
    &.page {
        h1 {
            background-color: $dark-grey;
            color: $white;
            font-weight: bold;
            margin: 50px 0;
            padding: 5px 8px;
            text-transform: uppercase;

            &.single-title {
                margin-top: 0;
            }
        }

        p {
            margin: 30px 0;

            img {
                max-width: 100%;
                height: auto;

                &.alignleft {
                    float: left;
                    margin: 0.5rem 1rem;
                }

                &.alignright {
                    float: right;
                    margin: 0.5rem 1rem;
                }

                &.aligncenter {
                    display: block;
                    margin: 1rem auto;
                }
            }
        }

        main {
            margin-bottom: 70px;
        }
    }
}