.calendar-list {
  margin-bottom: 70px;
}
.calendar-list h1 {
  background-color: #393939;
  color: #fff;
  font-weight: bold;
  margin: 30px 0;
  padding: 5px 8px;
  text-transform: uppercase;
}
.calendar-list .current-month h2 {
  color: #5a5a5a;
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
  text-transform: uppercase;
}
.calendar-list h3 a {
  color: #393939;
}
.calendar-list .tribe-events-list .row.type-tribe_events {
  padding: 2.25em 0 !important;
}
.calendar-list .date span {
  display: block;
}
.calendar-list .date .day {
  font-size: 40px;
  font-weight: bold;
}
.calendar-list .date .month {
  font-weight: bold;
}
.calendar-list .banner {
  margin-bottom: 70px;
}

.single .calendar-list p img {
  max-width: 100%;
  height: auto;
}
.single .calendar-list p img.alignleft {
  float: left;
  margin: 0.5rem 1rem;
}
.single .calendar-list p img.alignright {
  float: right;
  margin: 0.5rem 1rem;
}
.single .calendar-list p img.aligncenter {
  display: block;
  margin: 1rem auto;
}

/*# sourceMappingURL=calendar.css.map */
