body.home .read-more {
  background-color: #393939;
  color: #d5d5d5;
  font-weight: bold;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.home .top-banner {
  color: #fff;
  padding: 150px 0;
}
body.home .top-banner h1 {
  background-color: #fff;
  color: #393939;
  font-weight: bold;
  margin: 50px 0;
  padding: 5px 20px;
  text-transform: uppercase;
}
body.home .top-banner p {
  margin: 30px 0;
}
body.home .top-banner .social-media-links a {
  margin: 0 8px;
}
body.home .top-banner .social-media-links img {
  width: 50px;
}
body.home .about-us {
  background: #d5d5d5;
  padding: 70px 0;
}
body.home .about-us h1 {
  background-color: #393939;
  color: #d5d5d5;
  font-weight: bold;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.home .about-us h1 {
  font-size: 30px;
}
body.home .about-us blockquote,
body.home .about-us p {
  margin: 30px 0;
}
body.home .about-us blockquote {
  font-style: italic;
}
body.home .about-us .embed-responsive {
  padding-top: 70px;
}
body.home .upcoming {
  padding: 50px 0;
}
body.home .upcoming a {
  color: #393939;
}
body.home .upcoming h1 {
  background-color: #393939;
  color: #fff;
  font-weight: bold;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.home .upcoming .header {
  margin: 30px 0;
}
body.home .upcoming .header p {
  font-size: 26px;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
}
body.home .upcoming .item h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
body.home .upcoming .item p {
  font-size: 20px;
  text-transform: uppercase;
}
body.home .calendar {
  background: #d5d5d5;
}
body.home .calendar strong a {
  color: #393939;
}
body.home .calendar .date {
  text-transform: lowercase;
}
body.home .calendar .calendar-image {
  background: url("../images/front-page/calendar.jpg") center/cover no-repeat;
}
body.home .calendar .information {
  padding: 30px;
}
body.home .calendar .information h1 {
  background-color: #393939;
  color: #d5d5d5;
  font-weight: bold;
  margin: 30px 0 15px;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.home .calendar .information p:last-child {
  margin-top: 70px;
}
body.home .play {
  background: #971822;
  color: #fff;
  font-size: 20px;
  padding: 30px 0;
}
body.home .play a {
  color: #fff;
}
body.home .play h1 {
  background-color: #fff;
  color: #971822;
  font-weight: bold;
  margin: 30px 0 15px;
  padding: 5px 8px;
}
body.home .play p {
  margin: 30px 0;
}

/*# sourceMappingURL=front-page.css.map */
