nav .top-menu a {
  color: #393939;
  text-transform: uppercase;
}

.hamburger-menu-toggle {
  cursor: pointer;
}
.hamburger-menu-toggle > img {
  height: 32px;
}

nav.hamburger-menu {
  background: #393939;
  display: none;
  padding: 30px;
}
nav.hamburger-menu ul {
  margin: 0;
  list-style-type: none;
}
nav.hamburger-menu ul li {
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
}
nav.hamburger-menu ul li:first-child {
  padding-top: 0;
}
nav.hamburger-menu ul li:last-child {
  padding-bottom: 0;
}
nav.hamburger-menu ul li a {
  color: #fff;
}
nav.hamburger-menu ul li .sub-menu {
  padding: 10px 0 10px 30px;
}

#page-footer {
  background-color: #393939;
  color: #fff;
}
#page-footer a {
  color: #fff;
}
#page-footer h1 {
  margin-bottom: 30px;
  padding: 1.5em 0 1em;
  text-transform: uppercase;
}
#page-footer h2 {
  padding: 0.5em 0;
  text-transform: uppercase;
}
#page-footer h3 {
  text-transform: uppercase;
}
#page-footer .col-md-4 {
  padding-bottom: 4em;
}
#page-footer .copyright {
  font-size: 12px;
}

body.home .read-more {
  background-color: #393939;
  color: #d5d5d5;
  font-weight: bold;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.home .top-banner {
  color: #fff;
  padding: 150px 0;
}
body.home .top-banner h1 {
  background-color: #fff;
  color: #393939;
  font-weight: bold;
  margin: 50px 0;
  padding: 5px 20px;
  text-transform: uppercase;
}
body.home .top-banner p {
  margin: 30px 0;
}
body.home .top-banner .social-media-links a {
  margin: 0 8px;
}
body.home .top-banner .social-media-links img {
  width: 50px;
}
body.home .about-us {
  background: #d5d5d5;
  padding: 70px 0;
}
body.home .about-us h1 {
  background-color: #393939;
  color: #d5d5d5;
  font-weight: bold;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.home .about-us h1 {
  font-size: 30px;
}
body.home .about-us blockquote,
body.home .about-us p {
  margin: 30px 0;
}
body.home .about-us blockquote {
  font-style: italic;
}
body.home .about-us .embed-responsive {
  padding-top: 70px;
}
body.home .upcoming {
  padding: 50px 0;
}
body.home .upcoming a {
  color: #393939;
}
body.home .upcoming h1 {
  background-color: #393939;
  color: #fff;
  font-weight: bold;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.home .upcoming .header {
  margin: 30px 0;
}
body.home .upcoming .header p {
  font-size: 26px;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
}
body.home .upcoming .item h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
body.home .upcoming .item p {
  font-size: 20px;
  text-transform: uppercase;
}
body.home .calendar {
  background: #d5d5d5;
}
body.home .calendar strong a {
  color: #393939;
}
body.home .calendar .date {
  text-transform: lowercase;
}
body.home .calendar .calendar-image {
  background: url("../images/front-page/calendar.jpg") center/cover no-repeat;
}
body.home .calendar .information {
  padding: 30px;
}
body.home .calendar .information h1 {
  background-color: #393939;
  color: #d5d5d5;
  font-weight: bold;
  margin: 30px 0 15px;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.home .calendar .information p:last-child {
  margin-top: 70px;
}
body.home .play {
  background: #971822;
  color: #fff;
  font-size: 20px;
  padding: 30px 0;
}
body.home .play a {
  color: #fff;
}
body.home .play h1 {
  background-color: #fff;
  color: #971822;
  font-weight: bold;
  margin: 30px 0 15px;
  padding: 5px 8px;
}
body.home .play p {
  margin: 30px 0;
}

body.page h1 {
  background-color: #393939;
  color: #fff;
  font-weight: bold;
  margin: 50px 0;
  padding: 5px 8px;
  text-transform: uppercase;
}
body.page h1.single-title {
  margin-top: 0;
}
body.page p {
  margin: 30px 0;
}
body.page p img {
  max-width: 100%;
  height: auto;
}
body.page p img.alignleft {
  float: left;
  margin: 0.5rem 1rem;
}
body.page p img.alignright {
  float: right;
  margin: 0.5rem 1rem;
}
body.page p img.aligncenter {
  display: block;
  margin: 1rem auto;
}
body.page main {
  margin-bottom: 70px;
}

.calendar-list {
  margin-bottom: 70px;
}
.calendar-list h1 {
  background-color: #393939;
  color: #fff;
  font-weight: bold;
  margin: 30px 0;
  padding: 5px 8px;
  text-transform: uppercase;
}
.calendar-list .current-month h2 {
  color: #5a5a5a;
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
  text-transform: uppercase;
}
.calendar-list h3 a {
  color: #393939;
}
.calendar-list .tribe-events-list .row.type-tribe_events {
  padding: 2.25em 0 !important;
}
.calendar-list .date span {
  display: block;
}
.calendar-list .date .day {
  font-size: 40px;
  font-weight: bold;
}
.calendar-list .date .month {
  font-weight: bold;
}
.calendar-list .banner {
  margin-bottom: 70px;
}

.single .calendar-list p img {
  max-width: 100%;
  height: auto;
}
.single .calendar-list p img.alignleft {
  float: left;
  margin: 0.5rem 1rem;
}
.single .calendar-list p img.alignright {
  float: right;
  margin: 0.5rem 1rem;
}
.single .calendar-list p img.aligncenter {
  display: block;
  margin: 1rem auto;
}

.container-fluid > header {
  margin: 20px 0;
}

/*# sourceMappingURL=general.css.map */
