.hamburger-menu-toggle {
  cursor: pointer;
}
.hamburger-menu-toggle > img {
  height: 32px;
}

nav.hamburger-menu {
  background: #393939;
  display: none;
  padding: 30px;
}
nav.hamburger-menu ul {
  margin: 0;
  list-style-type: none;
}
nav.hamburger-menu ul li {
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
}
nav.hamburger-menu ul li:first-child {
  padding-top: 0;
}
nav.hamburger-menu ul li:last-child {
  padding-bottom: 0;
}
nav.hamburger-menu ul li a {
  color: #fff;
}
nav.hamburger-menu ul li .sub-menu {
  padding: 10px 0 10px 30px;
}

/*# sourceMappingURL=hamburger-menu.css.map */
